body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;  
    background-color: #f5eded32;  
    color: #faf5f5; 
    text-shadow: 2px 2px 5px rgba( #f5eded);
    margin: 0;
    padding: 0;
    background-image: url(img/bandeira.avif);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
}

h1{
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #f5eded32;
}

